.results {
  &--not-log{
    width: 100%;
    height: calc(100vh - 56px);
    background: url(../../assets/img/lec.png) no-repeat center;
  }

  color: white;

  &--wrapper {
    padding: 5px;
  }

  &--winner_box{
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
    border: 4px solid transparent;

    &--winner{
      border: 4px solid #FFCC33;
    }
  }
  &--team_box {
    height: 50px;
    width: 50px;
    margin: 5px;
    background-size: cover;
    border: 4px solid transparent;
    border-radius: 10px;
    background-repeat: no-repeat;

    &--selected {
      border: 4px solid #05B30E;
    }
  }
}
