<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registration</h4>
    <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <div class="input-group">
        <input (keydown.enter)="modal.close(registerUser)" [(ngModel)]="registerUser.name" id="name"
               class="form-control" placeholder="Name">
      </div>
      <label for="halalPassword">Password</label>
      <div class="input-group">
        <input (keydown.enter)="modal.close(registerUser)" [(ngModel)]="registerUser.password" id="halalPassword"
               type="password" placeholder="Password"
               class="form-control">
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center">
    <button type="button" class="btn btn-outline-dark " (click)="modal.close(registerUser)">Sign up</button>
  </div>
</ng-template>

<span class="registration--font pointer" (click)="open(content)">Sign up</span>
