<div class="season-picker">
  <div class="container-fluid">
    <ul class="nav justify-content-center">
      <li class="nav-item active">
        <a class="nav-link " aria-current="page" routerLink="season">Week 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="season">Week 3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="season">Week 4</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="season">Week 5</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="season">Week 6</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="season">Week 7</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " aria-current="page" routerLink="season">Week 8</a>
      </li>
    </ul>
  </div>
</div>
